<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005760225698-8tmjmal67ehd2hfhsif6e6lqq1sfvnks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005760225698-8tmjmal67ehd2hfhsif6e6lqq1sfvnks</string>
	<key>API_KEY</key>
	<string>AIzaSyCADTQw5NKM5b49VYh90y5dCjoXBjlpUKE</string>
	<key>GCM_SENDER_ID</key>
	<string>1005760225698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManager</string>
	<key>PROJECT_ID</key>
	<string>shop-71c8f</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-71c8f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005760225698:ios:05d50218e4544ff1c892fb</string>
	<key>DATABASE_URL</key>
	<string>https://shop-71c8f-default-rtdb.firebaseio.com</string>
</dict>
</plist>